@charset "utf-8";
/*ページの基本デザイン*/
body {
	margin: 0;
	padding: 0;
	font-family: "メイリオ", Meiryo, "ＭＳＰゴシック", Osaka, sans-serif;
	color: #666;
}
h1 {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-weight: normal;
}
h2 {
	margin: 0;
	font-size: 110%;
}
h3 {
	margin: 0;
	font-size: 90%;
}
p {
	margin: 0;
	font-size: 90%;
	line-height: 1.6;
}	
.bottom_space {
  margin-bottom: 1.0em;
}
address {
	font-style: normal;
	text-align: center;
	font-size: 80%;
}
a {
	color: #4A24FF; /*リンクの文字フォント*/
	text-decoration: none;
}
t {
font-family: 'Hiragino Kaku Gothic ProN';
font-style: italic;
}
/*.article p img {
	background-color: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 5px;
}*/
/*.article {
	padding: 5px;
	border: solid 1px #ccc;
	margin: 10px;
	min-height: 150px;
	zoom: 1;
}*/
/*.article:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}*/
.nav ul {
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: right;
}
.nav ul li {
	display: inline-block;
	padding: 0 5px;
	border-left: 1px solid #037d77;
}
.nav ul li:first-child {
	border-left: none;
}
.nav ul li#now a {
	color: #037d77;
	font-weight: bold;
}
ol {
	font-size: 90%;
}
ul {
	font-size: 90%;
}